plugins/cirra-ai-sf/skills/cirra-ai-sf-flow/tests/fixtures/max_complexity_anti_patterns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Assignment</name>
        <label>Copy 1 of Assignment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>currentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Each_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>300</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G000000000001AAA</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <label>Account Processing</label>
    <loops>
        <name>Loop_Records</name>
        <label>Loop Records</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <collectionReference>allRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Parent_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Owner</targetReference>
        </noMoreValuesConnector>
        <assignNextValueToReference>currentItem</assignNextValueToReference>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Again</name>
        <label>Get Account Again</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Record</name>
        <label>Get Parent Record</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <connector>
            <targetReference>Copy_1_of_Assignment</targetReference>
        </connector>
    </recordLookups>
    <recordUpdates>
        <name>Update_Each_Record</name>
        <label>Update Each Record</label>
        <locationX>400</locationX>
        <locationY>350</locationY>
        <inputReference>currentItem</inputReference>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Get_Account_Again</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>unusedVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
