plugins/cirra-ai-sf/skills/cirra-ai-sf-flow/tests/fixtures/screen_flow_simple.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_Record_Values</name>
        <label>Set Record Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Simple screen flow for creating a new Case record. Collects subject and description from user, creates the Case with fault handling.</description>
    <label>Screen New Case Intake</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputReference>rec_NewCase</inputReference>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </recordCreates>
    <screens>
        <name>Case_Input_Screen</name>
        <label>Enter Case Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Set_Record_Values</targetReference>
        </connector>
        <fields>
            <name>inp_Subject</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inp_Description</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Case Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Confirmation_Message</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>Your case has been created successfully.</fieldText>
        </fields>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Input_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>rec_NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
