skills/sf-flow/tests/fixtures/complex_multi_object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Contact_To_Collection</name>
        <label>Add Contact To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_CurrentContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_CurrentContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Create_Error</name>
        <label>Handle Create Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Handle_Update_Error</name>
        <label>Handle Update Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Has_Contacts</name>
        <label>Check Has Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Contacts</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </defaultConnector>
        <rules>
            <name>Has_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_RelatedContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts</targetReference>
            </connector>
            <label>Has Contacts</label>
        </rules>
    </decisions>
    <description>Complex multi-object after-save flow: when an Account address changes, sync billing city to all related contacts (using collect-then-DML), then create a follow-up task. Demonstrates proper bulkification with loops, null checks, and fault paths on all DML.</description>
    <label>Auto Account Address Sync And Task</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_RelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Contacts</targetReference>
        </noMoreValuesConnector>
        <assignNextValueToReference>rec_CurrentContact</assignNextValueToReference>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Create_Error</targetReference>
        </faultConnector>
        <inputReference>rec_FollowUpTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Contact</object>
        <outputReference>col_RelatedContacts</outputReference>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <storeOutputAutomatically>false</storeOutputAutomatically>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <connector>
            <targetReference>Check_Has_Contacts</targetReference>
        </connector>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Contacts</name>
        <label>Update All Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Update_Error</targetReference>
        </faultConnector>
        <inputReference>col_ContactsToUpdate</inputReference>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>col_RelatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rec_CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rec_FollowUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
