skills/sf-flow/tests/fixtures/dml_in_loop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_Contact_Fields</name>
        <label>Set Contact Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_CurrentContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Single_Contact</targetReference>
        </connector>
    </assignments>
    <description>Anti-pattern example: DML inside loop. Updates contacts one at a time inside a loop instead of collecting and doing bulk DML.</description>
    <label>Auto Account Contact Address Sync</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Done_Assignment</targetReference>
        </noMoreValuesConnector>
        <assignNextValueToReference>rec_CurrentContact</assignNextValueToReference>
    </loops>
    <assignments>
        <name>Done_Assignment</name>
        <label>Done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_IsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Contact</object>
        <outputReference>col_Contacts</outputReference>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <storeOutputAutomatically>false</storeOutputAutomatically>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </recordLookups>
    <recordUpdates>
        <name>Update_Single_Contact</name>
        <label>Update Single Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rec_CurrentContact</inputReference>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rec_CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_IsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
