skills/cirra-ai-sf-flow/tests/fixtures/scheduled_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Scheduled flow that runs daily to clean up stale draft Opportunities older than 90 days. Deletes them in bulk with proper error handling.</description>
    <label>Sched Daily Stale Opportunity Cleanup</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Stale_Opportunities</name>
        <label>Delete Stale Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputReference>col_StaleOpportunities</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Stale_Opportunities</name>
        <label>Get Stale Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Opportunity</object>
        <outputReference>col_StaleOpportunities</outputReference>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <storeOutputAutomatically>false</storeOutputAutomatically>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>var_CutoffDate</elementReference>
            </value>
        </filters>
        <connector>
            <targetReference>Delete_Stale_Opportunities</targetReference>
        </connector>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stale_Opportunities</targetReference>
        </connector>
        <triggerType>Scheduled</triggerType>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-01</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_StaleOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_CutoffDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
